*{
    margin-top: 10px;
}

.container{
    background-color:rgba(98, 90, 78, 0.466);
    border-radius: 10px;
    width: 1000px;
    height: 300px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cuadro{
    font-size: 30px;
    background-color:rgb(212, 219, 12);
}